body{
    background-color: #AA6E39;
    font-family:cursive;
}
.container_header{
    width: 100%;
   
    display: flex;
    justify-content: center;
}
.layout {
    background-color: #FFD2AA;
    color: #552800;
border-radius: 30px;
text-align: center;
width: 500px;
padding: 10px;
margin-top:-10px

}
.container{
    display: flex;
    width: 100%;
   
    justify-content: space-around;
}
.days{
    background-color: #FFF1C2;
    display: block;
    width: 20%;
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
}
.days-of-week{
    color: #552800;
    padding-left: 10%;
}
.day1{
    background-color: #ECC989;
    color: #704A1F;
    border-radius: 30px;
    padding: 10px;
}
.day1:hover{
    background-color:#DBB878 !important;
    color: #704A1F;
    border-radius: 30px; 
}
.create-layout{
background-color: #FFF1C2;
display: flex;
flex-direction: column;
align-items:center;
border-radius: 30px;
padding: 2%;
}
.create-button{
    color: #5D1D1D;
    background-color: #E4AE7E;
    border-radius: 30px;
    border: #E4AE7E 50px;
    padding: 10px;
}
.create-header{
    width: 80%;
    background-color: #FFD2AA;
    color: #552800;
border-radius: 30px;
text-align: center;
}

.create-button:hover{
    background-color:#d49c6a;
    transition:0.5s;
}
.name{
color: #804715;
background-color: #FFD2AA;
border-radius: 30px;
border:none;
padding: 5px;
margin:5px;
border:0;
outline: 0;
border-bottom: 1px solid #804715;
}
.name::placeholder{
    color:#804715;
    
}
.time{
    color: #804715;
background-color: #FFD2AA;
border-radius: 30px;
border:none;
padding: 5px;
margin:5px;
border:0;
outline: 0;
border-bottom: 1px solid #804715;
}
.time::placeholder{
    padding: 10px;
    background-color: #FFD2AA;
    color:#552800;
}
h2{
    color: #552800;
    background-color: #FFD2AA;
    border-radius: 30px;
    text-align: center;
    padding: 15px;
}
.lessons-item1{
    display: flex;
    background-color: #FFC693;
    color: #704A1F;
    justify-content:space-between;
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
    margin: 10px;
}

form{
    background-color: #FFD2AA;
    padding: 10px;
    border-radius: 30px;
}
.lessons{
    display: block;
    width: 200px;
}
.delete{
    border-radius: 50%;
    width:40px;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    height: 40px;
    display: flex;
    outline: none;
    border: 1px solid black;
    background-color: #E4AE7E;
}

.image{
    width:30px;
    height: 30px;
}